/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "Montserrat", sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

img{
    width: 100%;
}

/* COMMON */
.container{
    margin: 20px auto;
    width: 80%;
    min-width: 700px;
    max-width: 1500px;
}

.float{
    float: left;
}

.mb-2em{
    margin-bottom: 2em;
}

/* HEADER */
.header{
    height: 110px;
}

#logo{
    height: 60px;
    width: auto;
    border-right: 1px solid lightgrey;
    padding-right: 1em;
}

header nav ul li{
    display: inline-block;
    padding-right: .5em;
}

header nav ul li a{
    text-decoration: none;
    color: grey;
    text-transform: uppercase;
}

/* MAIN */

.with-overlay::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
}

.banner{
    position: relative;
    background-image: url(../img/banner.jpg);
    background-position: center;
    height: 450px;
    border-radius: 1em;
    overflow: hidden;
} 

.banner-text{
    position: absolute;
    width: 60%;
    color: white;
    left: 3em;
    bottom: 4em;
}

.banner-text h1{
    font-weight: normal;
}


/* section content */

.content .row h1{
    font-size: 2em;
}

.content .row span{
    color: grey;
}

.banner-row{
    position: relative;
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 2em;
    overflow: hidden;
}

#img1-row{
    background-image: url(../img/img-1.jpg);
}

#img2-row{
    background-image: url(../img/banner-2.jpg);
}

#img3-row{
    background-image: url(../img/img-3.jpg);
}

.content .column h4{
    margin-bottom: 15px;
}

.content .column p{
    color: grey;
    margin-bottom: 20px;
}
.column{
    margin-bottom: 15px;
}

.sides-column{
    width: 25%;
}

.center-column{
    margin: 0 1.5%;
    width: calc(50% - 3%);
}

/* FOOTER */

.footer{
    margin-top: 5px;
    height: 50px;
    text-align: center;
}
footer span{
    color: red;
    font-size: 25px;
}